/*
 *  Entry stylesheet file for twrm.io project.
 *  Created On 15 March 2022
 */

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blob alignment styles for main section */

/* svg.circle,
svg.dots {
    position: absolute;
}

svg.circle.big {
    top: 0px;
    left: 0px;
    width: 16rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
}

@screen sm {
    svg.circle.big {
        width: 19rem;
    }
}

@screen md {
    svg.circle.big {
        width: 35rem;
        margin-top: -14rem;
        margin-left: -12rem;
    }
}

@screen lg {
    svg.circle.big {
        width: 44rem;
    }
}

@screen xl {
    svg.circle.big {
        width: 55rem;
        margin-top: -5rem;
        margin-left: -12rem;
    }
} */
