<header class="z-10 px-6 py-6 w-full text-white">
    <div class="container flex justify-between">
        <div data-aos="fade-down" data-aos-delay="900">
            <a href="/">
                <vector src="components/header/logo.svg"></vector>
            </a>
        </div>
        <div data-aos="fade-down" data-aos-delay="1000" class="social flex items-center text-lg">
            <!-- GitHub icon -->
            <a
                href="https://github.com/twrm/twrm.io"
                target="_blank"
                rel="noopener"
                class="mx-2 hover:opacity-100 opacity-70"
            >
                <vector src="components/header/icons/github.svg"></vector>
            </a>

            <!-- Twitter icon -->
            <a href="https://vas.cx/twitter" target="_blank" rel="noopener" class="mx-2 hover:opacity-100 opacity-70">
                <vector src="components/header/icons/twitter.svg"></vector>
            </a>

            <!-- Discord icon -->
            <a href="https://vas.cx/discord" target="_blank" rel="noopener" class="mx-2 hover:opacity-100 opacity-70">
                <vector src="components/header/icons/discord.svg"></vector>
            </a>

            <!-- Settings Icon -->
            <a
                class="mx-2 cursor-pointer"
                onclick="document.querySelector('html').classList.toggle('dark'); return false"
            >
                <vector src="components/header/icons/settings.svg"></vector>
            </a>
        </div>
    </div>
</header>
