<!-- Primary Meta Tags -->
<title>twrm.io — Turn off 🔗 linked mentions, #️⃣ hashtags on Twitter 🐦 tweets.</title>
<meta name="title" content="twrm.io — Turn off 🔗 linked mentions, #️⃣ hashtags on Twitter 🐦 tweets." />
<meta
    name="description"
    content="twrm.io lets you disable linked mentions, hashtags, and links on your Twitter tweets. Using zero-width Unicode characters. Made with 💖 by Vasanth Developer."
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://twrm.io/" />
<meta property="og:title" content="twrm.io — Turn off 🔗 linked mentions, #️⃣ hashtags on Twitter 🐦 tweets." />
<meta
    property="og:description"
    content="twrm.io lets you disable linked mentions, hashtags, and links on your Twitter tweets. Using zero-width Unicode characters. Made with 💖 by Vasanth Developer."
/>
<meta property="og:image" content="img/cover.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://twrm.io/" />
<meta property="twitter:title" content="twrm.io — Turn off 🔗 linked mentions, #️⃣ hashtags on Twitter 🐦 tweets." />
<meta
    property="twitter:description"
    content="twrm.io lets you disable linked mentions, hashtags, and links on your Twitter tweets. Using zero-width Unicode characters. Made with 💖 by Vasanth Developer."
/>
<meta property="twitter:image" content="img/cover.png" />

<link rel="icon" href="img/site_icon.png" type="image/png" />
<meta name="theme-color" content="#1DA1F2" />
