<!--
    Runs as the first thing when body is loaded
    and adds the theme class to fix light theme flash!

    This is only the initial loader, as theme is further
    applied to other off-screen elements by the main JavaScript
    bundle which loads later.

    This script contains no dependencies and is inlined for fastest
    execution.
-->
<script>
    let theme = localStorage.getItem('theme')
    if (theme == 'auto' || theme == null)
        theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.querySelector('html').classList.add(theme)
</script>
