/* Background Artifacts */

svg.circle.big {
    top: 0px;
    left: 0px;
    width: 16rem;
    margin-top: -4.5rem;
    margin-left: -4.5rem;
}

svg.circle.smaller {
    top: 0px;
    right: 0px;
    width: 12rem;
    opacity: 0.7;
    display: none;
    margin-top: -3.7rem;
    margin-right: -4.5rem;
}

svg.circle.smallest {
    bottom: 0px;
    right: 20vw;
    width: 10rem;
    margin-bottom: -3rem;
}

svg.dots.big {
    top: 50%;
    left: 50%;
    width: 10rem;
    margin-top: -4rem;
    margin-left: -25rem;
}

svg.dots.smaller {
    right: 0px;
    width: 8rem;
    bottom: 0px;
    margin-right: -3rem;
    margin-bottom: -3rem;
}

svg.dots.smallest {
    top: 50%;
    left: 50%;
    width: 6rem;
    margin-top: -8rem;
    margin-left: 15rem;
}

svg.dots {
    display: none;
}

svg.circle,
svg.dots {
    position: absolute;
}

@media screen and (min-width: 640px) {
    svg.circle.big {
        width: 19rem;
    }

    svg.circle.smaller {
        width: 15rem;
    }

    svg.circle.smallest {
        right: 25vw;
        width: 13rem;
    }
}

@media screen and (min-width: 768px) {
    svg.circle.big {
        width: 35rem;
        margin-top: -14rem;
        margin-left: -12rem;
    }

    svg.circle.smaller {
        width: 20rem;
        display: unset;
    }

    svg.circle.smallest {
        width: 16rem;
    }

    svg.dots.big,
    svg.dots.smaller,
    svg.dots.smallest {
        display: unset;
    }

    svg.dots.smaller {
        margin-right: 0rem;
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 1024px) {
    svg.circle.big {
        width: 44rem;
    }

    svg.dots.smaller {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1536px) {
    svg.circle.smaller {
        width: 23rem;
        margin-top: -7rem;
        margin-right: -4rem;
    }

    svg.circle.smallest {
        right: 33vw;
        width: 20rem;
    }

    svg.dots.smaller {
        margin-right: 0rem;
        margin-bottom: 6rem;
    }
}
