/* Vendor Styles */
@import './_nprogress.css';

/* Section Styles */
@import '../../sections/main/main.css';
@import '../../sections/tweets/tweets.css';
@import '../../sections/footer/footer.css';

/* Component Styles */
@import '../../components/header/header.css';
@import '../../components/box/box.css';
@import '../../components/settings/settings.css';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other Utility Styles */

*::-webkit-scrollbar {
    display: none;
}

img.emoji {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    margin: 0 0.05em 0 0.1em;
    display: inline;
}
