<div id="settings" class="settings z-10" aria-hidden="true">
    <div id="settings-card" class="absolute px-6 py-4 bg-default dark:bg-gray-800 rounded-md shadow-lg">
        <div tabindex="-1" data-micromodal-close>
            <div role="dialog" aria-modal="true" aria-labelledby="settings-title">
                <div id="settings-content" class="pt-1">
                    <h3 class="font-display text-lg font-semibold">Settings</h3>
                    <div class="pb-2 pt-2">
                        <!-- theme select box -->
                        <module href="/components/settings/modules/theme/theme.html"></module>

                        <!-- autoCopy toggle switch -->
                        <module href="/components/settings/modules/autoCopy/autoCopy.html"></module>

                        <!-- motionReduced toggle switch -->
                        <module href="/components/settings/modules/motionReduced/motionReduced.html"></module>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
