<div id="settings" class="settings z-10" aria-hidden="true">
    <div id="settings-card" class="absolute px-6 py-4 bg-default dark:bg-gray-800 rounded-md shadow-lg">
        <div tabindex="-1" data-micromodal-close>
            <div role="dialog" aria-modal="true" aria-labelledby="settings-title">
                <div id="settings-content" class="pt-1">
                    <h3 class="font-display">Settings</h3>
                    <div class="py-2">
                        <div class="flex items-center justify-between py-3">
                            <div><span class="text-sm">Theme</span></div>
                            <div class="select-wrapper">
                                <vector src="components/settings/img/down.svg"></vector>
                                <select
                                    id="theme"
                                    class="px-3 py-2 w-20 text-sm bg-gray-200 dark:bg-gray-700 rounded-md"
                                >
                                    <option value="dark">Dark</option>
                                    <option value="light">Light</option>
                                    <option value="auto">Auto</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div><span class="text-sm">Auto copy</span></div>
                            <div>
                                <label class="checkbox" for="autoCopy">
                                    <input class="hidden" type="checkbox" id="autoCopy" />
                                    <div
                                        class="
                                            checkbox-fill
                                            relative
                                            w-14
                                            h-7
                                            bg-gray-200
                                            dark:bg-gray-700
                                            rounded-full
                                            cursor-pointer
                                        "
                                    >
                                        <div
                                            class="
                                                indicator
                                                absolute
                                                z-10
                                                w-4
                                                h-4
                                                border-4 border-solid border-gray-400
                                                dark:border-gray-600
                                                rounded-full
                                                pointer-events-none
                                            "
                                        ></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
